@import 'reset'

body
  font-family: 'Roboto', sans-serif
  font-size: 16px

a
  color: inherit
  text-decoration: none !important

button
  font-family: inherit
  margin: 0
  padding: 0
  border: none
  user-select: none
  outline: none
  box-shadow: none
  appearance: none
  cursor: pointer

svg
  display: block
  width: 100%
  height: 100%
  fill: currentColor
